body {
    background-color: lightyellow;
    color: black;

}

header {
  background-color: gold;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: white;
}

div.outerdiv {
  width: 100%;
  overflow: auto;
}

div.outerdiv div {
  text-align: center;
  width: 50%; 
  float: left;
}

div.centerdiv {
  margin: auto;
  width: 50%;
  text-align: center;
}

div.leftdiv {
  margin: left;
  width: 10%;
  text-align: center;
}

div.rightdiv {
  margin: right;
  width: 10%;
  text-align: center;
}